<header class="header" id="header">
    <nav class="container">
        <ul>
            <li>
                <a href="/store/">
                    Chic Haven
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/store/catalog/">
                    Catalog
                </a>
            </li>
        </ul>
        <ul>
            {% if user.is_authenticated and cartItems %}
                <li>
                    <a href="/store/checkout/" hx-get="" hx-trigger="changed">
<!--                        {{ user.get_username }}-->
                        Checkout ({{cartItems.count}})
                    </a>
                </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
<!--                    <form action="/store/sign-out/" method="POST">-->
<!--                        {% csrf_token %}-->
<!--                        <input type="submit" value="Sign Out" />-->
<!--                    </form>-->
                    <a href="/store/sign-out/">
                        Sign Out
                    </a>
                {% else %}
                    <a href="/store/sign-in/">
                        Sign In
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>