<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="description" content="Chic Haven website">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="{% static 'store/assets/img/favicon.png' %}" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css">

    <!--=============== UNICONS ===============-->
<!--    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">-->

    <!--=============== SWIPER CSS ===============-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>-->

    <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'store/assets/css/store.css' %}">
    <link rel="stylesheet" href="{% static 'store/assets/css/checkout.css' %}">

    <title>Chic Haven</title>
</head>
<body>
{% csrf_token %}
<!--==================== THEME ====================-->
<!--<script src="{% static 'store/assets/js/theme.js' %}"></script>-->
<!--==================== HEADER ====================-->
{% include 'store/header.html' %}

<!--==================== MAIN ====================-->
<main class="main">
    <div class="checkout">
            <div class="payment" hx-target=".payment" hx-select=".payment > *" hx-swap="innerHTML">
                <form id="payment-form">
                    {% if cartItems %}
                        {% include 'store/checkout/cart.html' %}
                        {% include 'store/checkout/payment.html' %}
                    {% else %}
                        <span>Cart it empty</span>
                    {% endif %}
                </form>
            </div>
    </div>
</main>

<!--==================== FOOTER ====================-->
<!--{% include 'store/footer.html' %}-->

<a href="" class="menu" id="show-menu">
    <i class="ri-menu-5-line"></i>
</a>

<!--========== SCROLL UP ==========-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-circle-line"></i>
</a>

<!--=============== SCRIPTS ===============-->
<!-- Add 'async' or 'defer' attributes to control script execution -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous" defer></script>
<script src="https://kit.fontawesome.com/95c0aa19f9.js" crossorigin="anonymous" defer></script>
<script src="https://telegram.org/js/telegram-widget.js?" defer></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://unpkg.com/htmx.org@2.0.2" defer></script>

<!-- Combine and minify your custom scripts -->
<script src="{% static 'store/assets/js/store.js' %}" defer></script>
<script src="{% static 'store/assets/js/checkout.js' %}" defer></script>
</body>
</html>