@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap&family=Oswald:wght@200&display=swap&family=Caveat&display=swap&");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root {
    --text-color-primary: #000000;
    --text-color-secondary: #ffffff;
    --font-family-primary: Roboto, serif;
    --font-family-secondary: Poppins, serif;
    --font-size-medium: 1rem;
    --font-size-small: 0.75rem;
    --font-size-large: 1.5rem;
    --background-color-primary: rgb(255, 255, 255);
    --background-color-secondary: #000000;
    --background-color-optional: rgba(0, 0, 0, 0.20);
    --box-shadow-global: 0px 0px 2px rgba(0, 0, 0, 50%);
}

::-webkit-scrollbar {
    width: .5rem;
    /*border-radius: .5rem;*/
    /*background-color: var(--background-color-optional);*/
}

::-webkit-scrollbar:hover {
    width: .5rem;
    /*border-radius: .5rem;*/
    background-color: var(--background-color-optional);
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-secondary);
    /*border-radius: .5rem;*/
}

* {
    padding: 0;
    margin: 0;
    /*z-index: 0;*/
    /*outline: 3px solid #000000;*/
}

main {
    /*height: calc(100% - 67px);*/
    /*min-height: 100vh;*/
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--background-color-secondary);
}

li {
    list-style-type: none;
}

body{
    background-color: var(--background-color-primary);
    /*overflow: hidden;*/
}

.footer{
    position: relative;
    bottom: 0;
    /*width: 100vw;*/
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    height: 100px;
    background-color: var(--background-color-primary);
    /*border-style: solid none none none;*/
    /*border-width: 2px;*/

}

.footer .container,
.header .container {
    /*box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),*/
    /*0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);*/
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
    height: 100%;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a {
    /*color: var(--text-color-secondary);*/
}

.header{
    position: relative;
    top: 0;
    width: 100%;
    /*width: 100vw;*/
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    height: 67px;
    z-index: 100;
    background-color: var(--background-color-primary);
}

.header .container {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
    /*background-color: var(--background-color-primary);*/
    /*border-style: solid none solid none;*/
    /*border-width: 2px;*/
}

.header .container,
.footer .container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, 50vw);*/
}

.header .container ul {
    /*grid-template-columns: 1fr 2fr 1fr;*/
}

.header .container ul,
.footer .container ul {
    /*width: 90vw;*/
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-auto-flow: column;
    text-wrap: nowrap;
}

.header .container li,
.footer .container li {
    /*margin: 1rem;*/
    margin: 0 0.5rem 0 0.5rem;
}

.header .container input {
    border: none;
    background-color: var(--background-color-primary);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    cursor: pointer;
}

.header nav ul li a {
    /*text-shadow: var(--box-shadow-global);*/
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background-color-primary) inset !important;
}

.menu {
    display: none;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);*/
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

video::-webkit-media-controls {
    display: none !important;
    pointer-events: none !important;
}

video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

@media screen and (max-width: 1024px) {
    /*:root {*/
    /*    --text-color: #000000;*/
    /*}*/

    .header {
        /*display: flex;*/
        /*position: fixed;*/
        /*bottom: 0;*/
        position: absolute;
        height: 100%;
        /*transition: all 1s ease-in-out;*/
        width: 100vw;
    }

    .header,
    .footer {
        /*opacity: 0;*/
        display: none;
    }

    .header .container {
        box-shadow: none;
        grid-template-columns: none;
    }

    .header .container {
        justify-content: stretch;
        grid-auto-flow: row;
    }

    .header .container ul {
        /*box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),*/
        /*0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);*/
    }

    .header .container a {

    }

    /*.main > div {*/
    /*    min-height: 100svh;*/
    /*}*/

    .menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        margin: .75rem;
        padding: .75rem;
        border-radius: 1rem;
        background-color: var(--background-color-primary);
        border: solid 1px var(--background-color-optional);
    }
}

@media screen and (max-width: 500px) {
    .header .container ul {
        grid-auto-flow: row;
    }

    .header .container ul li {
        margin: 1px;
    }
}

.transpanent .header {
    background-color: transparent;
}

.transpanent .menu {
    background-color: transparent;
    border-color: var(--background-color-primary);
    border-width: 2px;
}

.transpanent .header .container {
    box-shadow: none;
}

.transpanent a,
.transpanent i {
    color: var(--background-color-primary);
}

.show-menu {
    /*transition: all 1s ease-in-out;*/
    /*top: 0;*/
    display: block;
    position: fixed;
    height: 100vh;
    /*opacity: 1;*/
    backdrop-filter: blur(30px);
}

.scrollup {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--background-color-primary);
    /*box-shadow: 0 4px 12px hsla(207, 24%, 35%, 15);*/
    /*box-shadow: 0px 0px 4px grey;*/
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--text-color-primary);
    z-index: 1;
    transition: bottom .3s, transform .3s;
    animation: popup infinite 1s;
}

.scrollup:hover {
    /*transform: translateY(.25rem);*/
    animation-play-state: paused;
    /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 50%);*/
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 3rem;
}

@keyframes popup {
    0% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(.25rem);
    }
    100%{
        transform: translateY(0rem);
    }
}
